* {	margin: 0; padding: 0; font-family: 'Lucida Sans', 'Verdana', 'Tahoma', 'sans-serif'; }

.fakehtml5 { 
	position: absolute;
	z-index: 9999;
	background: #fff;
	opacity: 0.01;
}

a {
	color: #999;
}

h1 {
	text-align: center;
	padding-top: 50px;
	font-size: 30px;
	color: #666;
}

h2 {
	text-align: center;
	padding-top: 30px;
	font-size: 12px;
	color: #666;
	font-weight: normal;
}